*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, Arial, sans-serif;
}

#section_normal_1{
    background-color: #ffffff;
    padding: 20px 0;
}

#section_normal_1.sixteen{
    display: flex;
    justify-content: space-around;
}

#section_normal_1.two-thirds{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#section_normal_1.two-thirds.slow_fade{
    margin-left: 10px;
}

#section_normal_1.two-thirds.htext_style{
    color: #999;
    margin-right: 15px;
}
